<section class="container popup d-flex flex-column">
  <div class="header">
    <h3>Chat mit {{ verkaeuferName }}</h3>
  </div>
  <div #chat class="top-part scrollbar">
    <ng-container *ngIf="messages.length">
      <ng-container *ngFor="let message of messages">
        <div
          class="container d-flex"
          [ngClass]="
            message.absender === 'KAEUFER'
              ? 'justify-content-end'
              : 'justify-content-start'
          "
        >
          <div
            class="message d-flex flex-column"
            [ngClass]="message.absender === 'KAEUFER' ? 'user1' : 'user2'"
          >
            <p
              class="mt-3 border border-dark p-3 border rounded-3 w-100"
              [ngClass]="
                message.absender === 'KAEUFER' ? 'text-right' : 'text-left'
              "
            >
              {{ message.inhalt }}
            </p>
            <span
              style="margin-top: -1rem"
              [ngClass]="
                message.absender === 'KAEUFER' ? 'text-right' : 'text-left'
              "
              >{{ getFormattedDate(message.erstelltAm) }}</span
            >
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!messages.length">
      <div class="d-flex justify-content-center align-items-center h-100 w-100">
        <h3>Beginne einen Chat mit {{ verkaeuferName }}</h3>
      </div>
    </ng-container>
  </div>
  <div class="bottom-part d-flex m-3">
    <input
      class="bottom-part container my-2 mx-2 rounded-3"
      [(ngModel)]="text"
      (keyup.enter)="send()"
    />
    <button class="btn btn-primary py-0 me-3 send text-black" (click)="send()">
      senden
    </button>
  </div>
</section>
